fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
pydantic
pydantic-settings
email-validator
python-multipart
Pillow
requests
numpy
torch
transformers
qdrant-client
qwen-vl-utils
peft
geoclip
bitsandbytes>=0.46.1
opencv-python
huggingface-hub
modal
openai
resend
